/.vscode
/dataset
/editedDataset
/code_excluded_from_git
/workflow
application/.env
/application/__pycache__
/application/frontend/__pycache__
/application/frontend/pages/__pycache__
/application/ml/hotspotDetector/__pycache__
/graphs
/docs
